## Python Installation

https://www.python.org/downloads/

## Print Statement

In [0]:
print("My name is Dev Gupta")
print("I am 20 years old")
print(23)

My name is Dev Gupta
I am 20 years old
23

## Variables and Data Types

In [0]:
name = "Aman Gupta"
age = 20
print("My name is",name)
print("I am" , age , "years old")

My name is Aman Gupta
I am 20 years old

In [0]:
number = 23 + 46
print(number)
number = 23.67
print(number)

is_num = True 
is_string = False

69
23.67

## Comments

In [0]:
a = 55  #This is a number
print(a)

55

## Working with Strings

In [0]:
text = "Microsoft\tStudent Partners"
print(text)

text = "Once Stephen Hawking said - \"Intelligence is the ability to adapt to change.\""
print(text)

Microsoft	Student Partners
Once Stephen Hawking said - "Intelligence is the ability to adapt to change."

In [0]:
text2 = "Albert"
print(text + text2)  # Concatenation

print(text.lower()) #Changing all characters to lower case
print(text.upper()) # Changing all characters to upper case
print(text.isupper()) # Checking if the string is in upper case or not
print(text.upper().isupper())

Once Stephen Hawking said - "Intelligence is the ability to adapt to change."Albert
once stephen hawking said - "intelligence is the ability to adapt to change."
ONCE STEPHEN HAWKING SAID - "INTELLIGENCE IS THE ABILITY TO ADAPT TO CHANGE."
False
True

In [0]:
print("Length of the string is",len(text2))
print(text2[3]) # Accessing the character at index 0 of the string 


"""
Albert
012345
"""

Length of the string is 6
e

'\nAlbert\n012345\n'

## Working with Numbers

In [0]:
a = 5 * 3 + 2 - 6 / 4
print(a)

num = 8.5
print(str(num)) # Converting number into a string
num2 = -7
print(abs(num2))  # Absolute value
print(pow(2,3)) # Power function

15.5
8.5
7
8

## User Input

In [0]:
x = input("Enter a number : ")
print(x)

Enter a number : dev gupta
dev gupta

## Conditional Statement

In [0]:
str1 = "Apple"
str2 = "Mango"
str3 = "Watermelon"

if (len(str3) < len(str2)):
  print("Length of str3 is greater than str2")
  print(3)
elif (len(str1) != len(str2)):
  print("Length of str1 is equal to str2")
else:
  print("Strings are of different lengths")

Strings are of different lengths

In [0]:
num = 2
num2 = 2.5
if (type(str1)==str and type(num) != int):
  print("str1 and num are of different types")

if(type(str2)==str or type(num2)==int):
  print("Either one of the condition above is true or both")

Either one of the condition above is true or both

## Lists

In [0]:
cities = ["Delhi","Mumbai","Chennai","Bengaluru"]
#Indexes     0        1        2          3
#Indexes    -4       -3       -2         -1

print(cities)
print(cities[0])
print(cities[-1])

['Delhi', 'Mumbai', 'Chennai', 'Bengaluru']
Delhi
Bengaluru

#### Slicing

In [0]:
print(cities[1:])  #print elements from index 1
print(cities[1:4]) #print elements from index 1 to index 3-1
print(cities[::-1]) #print list in reverse

['Mumbai', 'Chennai', 'Bengaluru']
['Mumbai', 'Chennai', 'Bengaluru']
['Bengaluru', 'Chennai', 'Mumbai', 'Delhi']

#### List Functions

In [0]:
city_numbers = [1,2,3,4]
cities.extend(city_numbers)   # add the list of elements to another list
print(cities)

# Adding another element to the city_numbers
city_numbers.append(5)
print(city_numbers)

# Insert another element to cities at index 1
cities.insert(1,"Kolkata")
print(cities)

# Remove element 
cities.remove("Delhi")
print(cities)


cities = ["Delhi","Mumbai","Chennai","Bengaluru"]
# Sort elements
cities.sort()
print(cities)

# Reverse the list
cities.reverse()
print(cities)

['Mumbai', 'Delhi', 'Chennai', 'Bengaluru', 1, 2, 3, 4]
[1, 2, 3, 4, 5]
['Mumbai', 'Kolkata', 'Delhi', 'Chennai', 'Bengaluru', 1, 2, 3, 4]
['Mumbai', 'Kolkata', 'Chennai', 'Bengaluru', 1, 2, 3, 4]
['Bengaluru', 'Chennai', 'Delhi', 'Mumbai']
['Mumbai', 'Delhi', 'Chennai', 'Bengaluru']

## Tuples

In [0]:
map_coordinates = (4,5)
list_of_coordinates = [(4,5),(9,10),(20,30)]
x = map_coordinates[0]
y = map_coordinates[1]
print("x=",x,"y=",y)

tuple3 = list_of_coordinates[0] + list_of_coordinates[1]
print(tuple3)

x= 4 y= 5
(4, 5, 9, 10)

## Dictionary
A dictionary is a collection which is unordered, changeable and indexed

In [0]:
phone_directory = {"Raman":8877606112,"Shyam":9900123488,"Aman":6784431125}

print(phone_directory["Shyam"])

phone_no = phone_directory.get("Aman")
print(phone_no)

# List of keys
print(phone_directory.keys())

# List of values
print(phone_directory.values())

# List of items in dictionary
print(phone_directory.items())

# Inserting an item in the dictionary
phone_directory["Abhishek"] = 9711235600

print(phone_directory)

9900123488
6784431125
dict_keys(['Raman', 'Shyam', 'Aman'])
dict_values([8877606112, 9900123488, 6784431125])
dict_items([('Raman', 8877606112), ('Shyam', 9900123488), ('Aman', 6784431125)])
{'Raman': 8877606112, 'Shyam': 9900123488, 'Aman': 6784431125, 'Abhishek': 9711235600}

In [0]:
phone_directory.pop("Aman")
print(phone_directory)

phone_directory.popitem()

{'Raman': 8877606112, 'Shyam': 9900123488, 'Abhishek': 9711235600}

('Abhishek', 9711235600)

# Python Introduction - Part 2

## Sets

In [0]:
mood_set = {"Happy","Sad","Angry","Fear"}

print(mood_set)

{'Sad', 'Happy', 'Fear', 'Angry'}

In [0]:
for x in mood_set:
  print(x)

Sad
Happy
Fear
Angry

In [0]:
mood_set.add("Love")
print(mood_set)

{'Sad', 'Angry', 'Happy', 'Love', 'Fear'}

In [0]:
mood_set.remove("Sad")
print(mood_set)

{'Angry', 'Happy', 'Love', 'Fear'}

In [0]:
nums_list = [1,2,3,4,1,3,6,3,2,1]

nums_set = set(nums_list)

print(nums_set)

{1, 2, 3, 4, 6}

In [0]:
nums_set.add(1)
nums_set.add(2)
nums_set.add(7)
print(nums_set)

{1, 2, 3, 4, 6, 7}

## While Loop

In [0]:
i = 10
while (i >= 1):
  print(i)
  i -= 1   # i=i-1

print("Done with while loop")

10
9
8
7
6
5
4
3
2
1
Done with while loop

## For loop

In [0]:
numbers = [34,55,66,89,75,22]

for num in numbers:
  print(num)

print("Out of the for loop")

34
55
66
89
75
22
Out of the for loop

In [0]:
matrix = [[2,3,4],[5,8,10],[9,15,20]]

# range(0,3) means we get a list with integers [0,1,2]
# range(0,10,2) means we get a list with integers [0,2,4,6,8]
for i in range(0,3):
  for j in range(0,3):
    print(matrix[i][j],end=" ")
  print()

# matrix[0][0] -> 2
# matrix[0][1] -> 3
# matrix[0][2] -> 4
# matrix[1][0] -> 5

2 3 4
5 8 10
9 15 20

In [0]:
text = "Microsoft"

for s in text:
  print(s)

M
i
c
r
o
s
o
f
t

#### Break and Continue

In [0]:
i = 0

while (i < 10):
  i+=1
  if (i==3):
    break
  print("i = ",i)

i =  1
i =  2

In [0]:
for i in range(10):
  if (i==4):
    break
  print(i)

print("Out of the for loop")

0
1
2
3
Out of the for loop

## Functions

In [0]:
def max_num(num1,num2,num3):
  if(num1 >= num2 and num1>=num3):
    return num1
  elif(num2 >= num1 and num2 >= num3):
    return num2
  else:
    return num3

max_number = max_num(16,18,9)
print(max_number)

18

In [0]:
def language(lang = "English"):
  print("I speak "+ lang)

language("French")
language("German")
language()
language("Hindi")

I speak French
I speak German
I speak English
I speak Hindi

In [0]:
def programming_lang(pro_lang):
  for i in pro_lang:
    print(i)

lang = "Python"
programming_lang(lang)

P
y
t
h
o
n

## Classes/Objects

In [0]:
class Car:
  def __init__(self,company,color):
    self.company = company
    self.color = color
  
  def show_desc(self):
    print("This car is made by "+ self.company)
    print("This car is " + self.color + " in color")
  
  def color_change(self,color):
    self.color = color 

p = Car("Suzuki","Black")
p.show_desc()

q = Car("Honda","Red")
q.show_desc()

p.color_change("White")
q.color_change("Blue")

p.show_desc()
q.show_desc()

This car is made by Suzuki
This car is Black in color
This car is made by Honda
This car is Red in color
This car is made by Suzuki
This car is White in color
This car is made by Honda
This car is Blue in color

## Exception Handling
Try, Except and Finally

In [0]:
try:
  print(1/0)

except NameError:
  print("Variable variables is not defined")

except:
  print("Something went wrong")

finally:
  print("Try and Except statements executed")

Something went wrong
Try and Except statements executed

In [0]:
# Question 1

i = 5
j = 0
while (i - j):
  print("Hello")

In [0]:
# Question 2

x = ['ab', 'cd']
for i in x:
    i.upper()
print(x)